html,body{font-family:Questrial;font-size:18px;line-height:1.5}html{overflow-x:hidden}
a{color:inherit}

/*html, body, #app, #app>div {*/
html, body {
  /*height: 100%;*/
  background-image: url(matttea-com-splash.jpg);
  /*background-size: cover;*/
  background-position: center;
  background-repeat: no-repeat;
}

.proj-container {
  /*margin-bottom: 2.5em;*/
  /*margin-top: 1.5em;*/
  margin-bottom: 10%;
  margin-top: 10%;
}
.proj-thumb img {
    float: left;
    width: 30%;
    height: 30%;
    min-width: 80px;
    min-height: 80px;
    max-width: 120px;
    max-width: 120px;
    padding-right: 1em;
    padding-top: 1em;
}
.proj-content {
    font-size: 16px;
    overflow: auto;
}

#headline {
    padding: 20px 5%;
    color: black;
    font-family: Questrial;
    text-align:center;
}

#blurb {
    font-size: 15px;
    font-weight: bold;
}

#blog-image {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90%;
    margin: 20px auto;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px
}

#blog-content {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Questrial;
    font-size: 18px;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

button {
    font-family: Questrial;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

a {text-decoration: none; }

#comments {
    font-size: 15px;
}

#index {
    cursor: pointer;
    padding-top: 1em;
    padding-bottom: 1em;
    color: DarkSlateGrey;
    font-size: 15px;
}

#index tr:hover {
    color: #784300;
    font-weight: bold;
}

#menu span:hover {
    font-weight: bold;
}

@media (min-width: 600px) {
    /* add style required over 600px width */

}

@media (max-width: 600px) {
    /* add style required under 600px width */
    #blog-content {
        font-size: 15px;
    }
    #index {
        font-size: 13px;
    }
    h2 {
        font-size: 18px;
    }
    #comments {
        font-size: 13px;
    }
}

@media (max-width: 343px) {
    /* add style required under 343px width */
    h4 {
      font-size: 11px;
    }
    p {
      font-size: 10px;
    }
    .proj-thumb img {
      min-width: 60px;
      min-height: 60px;
    }
    .project-content {
      margin-left: 100px;
    }
    #blog-content {
        font-size: 12px;
    }
    #index {
        font-size: 12px;
    }
    #author-blurb {
        font-size: 12px;
    }
    #comments {
        font-size: 12px;
    }
}

.main {
    margin-top: 30px;
}

.container {
    margin: auto;
    max-width: 650px;
    padding: 20px 5%;
}
